<header id="header" class="menu_border">
	<div class="container">
		<div class="head-section">
		</div>
		<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<!-- logo section -->
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" >
				<a id="brand-logo" class="generaltxt fa fa-university fa-2x" (click)="routetoMenu()"></a>
			</div>

			<!-- Title for page -->
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 title-header">
				<h1>{{dataservice.dataObs$}}</h1>
				<h1>{{dataservice.dataObsline2$}}</h1>
			</div>
		</div>
	</div>
</header>
