.generaltxt {
    text-align: center;
    padding-top: 35px;
}

.lefttxt{
    text-align: left;
}

.modelAlerttxt{
    font-size: .9em;
}

.clearIcon{
    cursor: pointer; 
    pointer-events: all; 
    position: absolute; 
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
}