<div>
    <div class="container landing_page">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_top">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 border-right margintop ">
                <label class="welcome_title">Welcome to</label>
                <label class="block_txt">Rasmivan CareSyntax</label>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margintop">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a id="doctor_link" class="action_link" routerLink="/doctor" >
                        <span class="fa fa-user-md icon" aria-hidden="true"></span>
                        <div class="displayme">Doctor</div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a id="patient_link" class="action_link" routerLink="/patient">
                        <span class="fa fa-user icon" aria-hidden="true"></span>
                        <div class="displayme">Patient</div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a id="study_link" class="action_link" routerLink="/study">
                        <span class="fa fa-book icon" aria-hidden="true"></span>
                        <div class="displayme">Study</div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <a id="room_link" class="action_link" routerLink="/room">
                            <span class="fa fa-bed icon" aria-hidden="true"></span>
                            <div class="displayme">Room</div>
                        </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a id="schedule_link" class="action_link" routerLink="/schedule">
                        <span class="fa fa-calendar-o icon" aria-hidden="true"></span>
                        <div class="displayme">Schedule</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>